<div class="row d-flex justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <span>
      <div class="city-lable">
        {{ cityDetails.name | titlecase }}, {{ cityDetails.country }}
      </div>
      <div class="fade-text">Weather forecast for next 5 days</div>
    </span>
    <div class="mat-elevation-z8 my-2">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.date }}</td>
        </ng-container>

        <!-- Temperature Column -->
        <ng-container matColumnDef="temperature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature</th>
          <td mat-cell *matCellDef="let row">{{ row.temperature }}</td>
        </ng-container>

        <!-- Sea Level Column -->
        <ng-container matColumnDef="seaLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sea Level</th>
          <td mat-cell *matCellDef="let row">{{ row.seaLevel }} mm</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <button
      id="home-btn"
      mat-flat-button
      color="primary"
      class="col-sm-2 col-12"
      style="float: right"
      (click)="goToHome()"
    >
      Home
    </button>
  </div>
</div>
